@model System.Collections.Generic.List<TokenShop.Models.Customer>
@{
    Layout = "~/Areas/admin/Views/Shared/_layout.cshtml";
}

<div class="data-table-area mg-b-15 fade in animated zoomInDown">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline13-list shadow-reset">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1>مشتریان</h1>
                            <a class="btn btn-success left" href="/admin/customers/new"><i class="fa fa-plus"></i> ثبت مشتری جدید</a>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <div id="toolbar">
                            </div>
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="false" data-show-refresh="false" data-key-events="true" data-show-toggle="false" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        <th data-field="id">شناسه</th>
                                        <th data-field="name">نام و نام خانوادگی</th>
                                        <th data-field="email">ایمیل</th>
                                        <th data-field="mobile">موبایل</th>
                                        <th data-field="tell">تلفن ثابت</th>
                                        <th data-field="status">وضعیت</th>
                                        <th data-field="date">تاریخ عضویت</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Count; i++)
                                    {
                                        <tr>
                                            <td></td>
                                            <td>@Model[i].UserCode</td>
                                            <td>@Model[i].FirstName @Model[i].LastName</td>
                                            <td>@Model[i].Email</td>
                                            <td>@Model[i].MobilePhone</td>
                                            <td>@Model[i].Phone</td>
                                            <td>@Model[i].SateText</td>
                                            <td>@Model[i].RegisterDatePersian</td>
                                            <td><a href="/admin/customers/display/@Model[i].Id" class="btn btn-info"><i class="fa fa-eye"></i>مشاهده</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>