@model System.Collections.Generic.List<TokenShop.Models.BankReceipt>
@{
    Layout = "~/Areas/profile/Views/Shared/_layout.cshtml";
}
<div class="inbox-mailbox-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tab-content">
                            <div id="inbox" class="tab-pane fade in animated zoomInDown custom-inbox-message shadow-reset active">
                                <div class="mail-title inbox-bt-mg">
                                    <h2 class="right">@TokenShop.Common.LanguageManagment.Translate("bank_receiption")</h2>
                                </div>
                                <div class="datatable-dashv1-list custom-datatable-overright">
                                    <div id="toolbar">
                                    </div>
                                    <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="false" data-show-refresh="false" data-key-events="true" data-show-toggle="false" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                        <thead>
                                            <tr>
                                                <th data-field="state" data-checkbox="true"></th>
                                                <th data-field="id">@TokenShop.Common.LanguageManagment.Translate("id")</th>
                                                <th data-field="resean">@TokenShop.Common.LanguageManagment.Translate("resean")</th>
                                                <th data-field="bank">@TokenShop.Common.LanguageManagment.Translate("bank")</th>
                                                <th data-field="number">@TokenShop.Common.LanguageManagment.Translate("number")</th>
                                                <th data-field="date">@TokenShop.Common.LanguageManagment.Translate("date")</th>
                                                <th data-field="amount">@TokenShop.Common.LanguageManagment.Translate("amount")</th>
                                                <th data-field="description">@TokenShop.Common.LanguageManagment.Translate("description")</th>
                                                <th data-field="status">@TokenShop.Common.LanguageManagment.Translate("status")</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.Count; i++)
                                            {
                                                <tr class="new-email">
                                                    <td></td>
                                                    <td>@Model[i].Id</td>
                                                    <td>@Model[i].ReciptTypeText</td>
                                                    <td>@Model[i].BankName</td>
                                                    <td>@Model[i].ReceiptNumber</td>
                                                    <td>@Model[i].PayDatePersian</td>
                                                    <td>@Model[i].Amount</td>
                                                    <td>@Model[i].Description</td>
                                                    <td>@Model[i].StatusText</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>